.andor-layover-div {
  /* Container styles */
  position: absolute;
  top: 0;
  left:0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  /* Background image styles */
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;

  /* Text styles */
  text-align: center;
  color: white;
  font-size: clamp(1.5rem, 2.5rem, 3rem);
  text-shadow:
  -1px -1px 0 black,
  1px -1px 0 black,
  -1px 1px 0 black,
  1px 1px 0 black;
} 