/* .andor-layover-img {
  height: 100%;
  display: block;
  margin: 5px auto;
  position: absolute;
  top: 0;
  left:0;
} */

/* .andor-layover-div {
  position: absolute;
  top: 0;
  left:0;
  width: 100%;
  height: 100%;
} */

.andor-layover-div {
  /* Container styles */
  position: absolute;
  top: 0;
  left:0;
  width: 100%;
  height: 100%;

  /* Background image styles */
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;

  /* Text styles */
  text-align: center;
  color: white;
  font-size: clamp(1rem, 2rem, 3rem);
  text-shadow:
  -1px -1px 0 black,
  1px -1px 0 black,
  -1px 1px 0 black,
  1px 1px 0 black;
} 